@using PartyGamesSystem.Web.ViewModels
@model IEnumerable<PartyGameViewModel>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_Search")

<h3 class="text-center">
    @if (Request.QueryString["index"]==null || Request.QueryString["index"] == "ownGames")
    {
        <span>My games</span>
    }
    else
    {
        <span>My favorite games</span>
    }
</h3>

@if (Model.Count() == 0)
{
    <div class="panel panel-body text-danger">
        There are no games that match your search criteria
    </div>
}

@if (Request.QueryString["index"] == null || Request.QueryString["index"] == "ownGames")
{
    @Html.ActionLink("Create new game", "Create", "ManagePartyGames", new { area = string.Empty }, new { @class = "btn btn-success" })

}

<br />
<br />
@if (Model.Count() != 0)
{
    foreach (var game in Model)
    {
        <div class="panel panel-body" id="game-section-@game.Id">
            @Html.Partial("_PartyGameSingleView", game)
        </div>
    }
}




