@using PartyGamesSystem.Web.ViewModels
@model IEnumerable<PartyGameViewModel>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_Search")

<br />

@if (Model.Count() == 0)
{
    <div class="panel panel-body text-danger">
        There are no games that match your search criteria
    </div>
}

@Html.ActionLink("Create new game", "Create", "ManagePartyGames", new { area = string.Empty }, new { @class = "btn btn-success" })

@if (Model.Count() != 0)
{
    foreach (var game in Model)
    {

        @Html.Partial("_PartyGameSingleView", game)

    }
}




