@using PartyGamesSystem.Web.ViewModels
@model IEnumerable<PartyGameViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-6 pull-left">
        @if (Request.QueryString["index"] == null || Request.QueryString["index"] == "ownGames")
        {
            @Html.ActionLink("Create new game", "Create", "ManagePartyGames", new { area = string.Empty }, new { @class = "btn btn-success" })

        }
    </div>
    <div class="col-md-6">
        @Html.Partial("_Search")
    </div>

</div>

<h1 class="text-center text-grassy">
    @if (Request.QueryString["index"]==null || Request.QueryString["index"] == "ownGames")
    {
        <span>My games</span>
    }
    else
    {
        <span>My favorite games</span>
    }
</h1>

<hr />

@if (Model.Count() == 0)
{
    <div class="panel panel-body text-danger">
        There are no games that match your search criteria
    </div>
}


<br />
<br />
@if (Model.Count() != 0)
{
    foreach (var game in Model)
    {
        <div class="mb20" id="game-section-@game.Id">
            @Html.Partial("_PartyGameSingleView", game)
        </div>
    }
}




