@{
    ViewBag.Title = "Home Page";
}

@*<div class="text-center text-intro text-shadow-3d">It's a party time !</div>*@
<a href="~/PartyGames/Index" class="intro-link"><div class="text-center text-intro text-shadow-3d"><span class="white-shadow">Find your favourite party game !</span></div></a>

@*<p class="lead text-center">Over one hundred funny games for your party</p>
    <p class="text-center"><a href="#" class="btn btn-success btn-lg">See random game now &raquo;</a></p>*@

<div class="row">
    @*<div class="col-md-3 text-center">
            <p>A</p>
            <p>D</p>
            <p>V</p>
            <p>E</p>
            <p>R</p>
            <p>T</p>
            <p>I</p>
            <p>S</p>
            <p>I</p>
            <p>N</p>
            <p>G</p>
        </div>*@
    <div class="col-md-9 text-center col-md-offset-1">
        <div class="row">
            <div class="rotate-center-middle-down col-md-2 shaked"><img class=" img-responsive" src="~/Content/Images/balloon-three-colors.png" /></div>
            <div class="col-md-10"><img class="img-responsive img-intro" alt="no-image" src="~/Content/Images/party_people.jpg" /></div>
        </div>
    </div>
</div>
<br />
<div>
    <h4 class="text-center text-grassy text-shadow-3d intro-bottom-text"><a href="~/Account/Register">Register</a> own account and make a list with favourite games or create your games !</h4>
</div>
<hr />
<div class="row">
    <div class="pull-right">
        <a href="~/PartyGames/Index" class="btn btn-lg btn-grassy">See all games &nbsp;&nbsp;<span class="fa fa-chevron-right"></span><span class="fa fa-chevron-right"></span></a>
    </div>
    @*<div class="col-md-4 text-center">
            <a href="#" class="btn btn-sm btn-primary">See last 5 games</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="#" class="btn btn-sm btn-primary">See most popular 5 games</a>
        </div>*@
</div>
@*<div class="balloon balloon-blue animated pos1"></div>
<div class="balloon balloon-yellow animated pos4"></div>
<div class="balloon balloon-red animated pos3"></div>*@
