@{
    ViewBag.Title = "Home Page";
}


<div class="text-center text-intro shadow-3d">It's a party time !</div>
<div class="text-center text-intro shadow-3d">Find your favourite party game !</div>

@*<p class="lead text-center">Over one hundred funny games for your party</p>
    <p class="text-center"><a href="#" class="btn btn-success btn-lg">See random game now &raquo;</a></p>*@

<div class="row">
    @*<div class="col-md-3 text-center">
            <p>A</p>
            <p>D</p>
            <p>V</p>
            <p>E</p>
            <p>R</p>
            <p>T</p>
            <p>I</p>
            <p>S</p>
            <p>I</p>
            <p>N</p>
            <p>G</p>
        </div>*@
    <div class="col-md-9 text-center col-md-offset-1">
        <img class="img-responsive img-intro" alt="no-image" src="~/Content/Images/party_people.jpg" />
    </div>
</div>
<br />
<div>
    <h4 class="text-center text-grassy shadow-3d">Register own account and make a list with favourite games or create your games !</h4>
</div>
<hr />
<div class="row">
    <div class="col-md-4 text-center col-md-offset-4">
        <a href="~/PartyGames/Index" class="btn btn-sm btn-grassy shadow-3d">See all games</a>
    </div>
    @*<div class="col-md-4 text-center">
            <a href="#" class="btn btn-sm btn-primary">See last 5 games</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="#" class="btn btn-sm btn-primary">See most popular 5 games</a>
        </div>*@
</div>