.balloon{
    position: absolute;
}

.balloon-blue {
    background-image: url('/Content/Images/balloon_blue.png');
    width: 64px;
    height: 117px;
}

.balloon-yellow{
    background-image: url('/Content/Images/balloon_yellow.png');
    width: 64px;
    height: 117px;
}

.balloon-red{
    background-image: url('/Content/Images/balloon_red.png');
    width: 64px;
    height: 64px;
}

.balloon-three-colors{
    background-image: url('/Content/Images/balloon-three-colors.png');
    width: 120px;
    height: 249px;
}

/* Position our toaster just off the screen at the upper right */
.pos1 {
    right: 0%;
    bottom: 0%;
}

.pos2 {
    right: 20%;
    bottom: 1%;
}

.pos3 {
    right: 55%;
    bottom: 2%;
}

.pos4 {
    right: 85%;
    bottom: 1%;
}

/**
 * Define keyframes to translate it to the bottom left.
 * We'll use -1600px since that will be wider, and certainly taller,
 * than most standard screens.
 */
@-webkit-keyframes fly {
    from {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(-500px, -1000px);
        -moz-transform: translate(-500px, -1000px);
        -o-transform: translate(-500px, -1000px);
        -ms-transform: translate(-500px, -1000px);
        transform: translate(-500px, -1000px);
    }
}

@-moz-keyframes fly {
    from {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

   to {
        -webkit-transform: translate(-500px, -1000px);
        -moz-transform: translate(-500px, -1000px);
        -o-transform: translate(-500px, -1000px);
        -ms-transform: translate(-500px, -1000px);
        transform: translate(-500px, -1000px);
    }
}

@-o-keyframes fly {
    from {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

   to {
        -webkit-transform: translate(-500px, -1000px);
        -moz-transform: translate(-500px, -1000px);
        -o-transform: translate(-500px, -1000px);
        -ms-transform: translate(-500px, -1000px);
        transform: translate(-500px, -1000px);
    }
}

@keyframes fly {
    from {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(-500px, -1000px);
        -moz-transform: translate(-500px, -1000px);
        -o-transform: translate(-500px, -1000px);
        -ms-transform: translate(-500px, -1000px);
        transform: translate(-500px, -1000px);
    }
}

/* Update our animation to include our translate() keyframes. */
.animated {
    -webkit-animation: flap .2s steps(4) infinite alternate, fly 6s linear infinite;
    -moz-animation: flap .2s steps(4) infinite alternate, fly 6s linear infinite;
    -ms-animation: flap .2s steps(4) infinite alternate, fly 6s linear infinite;
    -o-animation: flap .2s steps(4) infinite alternate, fly 6s linear infinite;
    animation: flap .2s steps(4) infinite alternate, fly 6s linear infinite;
}
