body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.form-control-sm {
    max-width: 280px;
}

.img-responsive {
    margin: 0 auto;
}

input[type=number]:invalid {
    background-color: #FFCCCC;
}

.bolded {
    font-weight: bold;
}

.text-attention {
    color: #0d00b0;
}

.rating-star{
    background:url('Images/color_star.png') no-repeat;
    width:25px;
    height:24px;
    -webkit-filter:grayscale(100%);
}

.small-color-star{
    background:url('Images/small-color_star.png') no-repeat;
    width:15px;
    height:14px;
    -webkit-filter:grayscale(100%);
}

.filled{
    -webkit-filter:grayscale(0%);
}

.rating-area input{
    display:none;
}

.rating-panel{
    display:none
}

.btn-common{
    background-color:#d1d1d1;
}



