body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.form-control-sm {
    max-width: 280px;
}

.img-responsive {
    margin: 0 auto;
}

input[type=number]:invalid {
    background-color: #FFCCCC;
}

.bolded {
    font-weight: bold;
}

.text-attention {
    color: #0d00b0;
}

.rating-star{
    background:url('Images/color_star.png') no-repeat;
    width:25px;
    height:24px;
    filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /*     Firefox 10+, Firefox on Android */
    filter:gray; /* IE6-9 */
    -webkit-filter:grayscale(100%);
    filter: grayscale(100%);
}

.small-color-star{
    background:url('Images/small-color_star.png') no-repeat;
    width:15px;
    height:14px;
    filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /*     Firefox 10+, Firefox on Android */
    filter:gray; /* IE6-9 */
    -webkit-filter:grayscale(100%);
    filter: grayscale(100%);
}

.filled{
    -webkit-filter:grayscale(0%);
    filter: grayscale(0%);
}

.rating-area input{
    display:none
}

.rating-panel{
    display:none
}

.btn-common{
    background-color:#d1d1d1;
    color:#000000;
}

.panel-party-games{
    border: 1px solid #DAE1E8;
    box-shadow: -2px -2px 3px rgba(224,226,228,0.4);
}

.panel-heading-add{
    background: #F0F1F2;
}

.p0{
    padding:0 !important;
}

.mt5{
    margin-top:5px !important;
}

.mb5{
    margin-bottom:5px !important;
}

.pr0{
    padding-right:0 !important;
}

#last-comment{
    display:none;
}