@{
    ViewBag.SearchQuery = Request.QueryString["query"];
}

@using (Html.BeginForm("Index", null, FormMethod.Get))
{
    <div>
        <input type="text" name="query" value="@ViewBag.SearchQuery" />
        <input type="submit" placeholder="Search" id="btnSubmit" value="Search by title" />
    </div>
}

<br />
